body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

#logo {
    width: 400px;
    margin: 24px;
}
