body{
    font-size:24px;
}

nav ul{
    list-style-type: none; /*???*/
    text-align: center;
    font-size: 24px;
}

/* highlight the current tab in the nav bar  */
.highlight-tab{
    font-weight: bold;
    background-color: yellow;
}
/* ????????? if it is inside ul &li, it won't work */

#logo{
    width: 400px;
}

/* the division line that creats sections  */
#line{
    width:1200px;
    height: 60px;
}


main {
    margin-top: 64px; /*so main content doesn't overlap with nav bar*/
}

h1{
    text-align: center;
    font-size: 32px;
    font-weight: 10;
}

/* in the gallery page */
.product-block {
    display: block;
    margin: auto;
}

.product-block:hover {
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
} /* ?????? how to make only the product name bold */

main.center{
    text-align:center;
}

img.gallery {
    width: 400px;
    height: 400px
}

/* in the detail page */
img.detail{
    display:block;
    margin:12px auto;
    width: 600px;
    height: 600px;
    border: 4px solid;
    border-color: black;
}
/* ???????is it okay to have the same tag but different class name? */

.detail-description{
    width: 280px;
    text-align: left;
    margin: 24px auto 48px auto;
}

.dropdown-block{
    width: 280px;
    margin: auto;
}
/* ?????? how to make it two lines */
/* how to make the option font bigger */

.price-button{

}
/* ?????? how to make it centered */

.inline-button{
    display: inline;
}
/* ?????? how to make it the same line? */


/*in the shopping cart page */
img.checkout{
    width: 200px;
    height: 200px;
    border: 4px solid;
    border-color: black;
}

/* the "remove" link in cart */
.checkout-img{
    margin-bottom: 12px;
}

p.clickable{
    text-decoration: underline;
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
}

p.checkout-description{
    margin: 4px;
}

p.checkout-price{
    margin-top: 24px;
}


.checkout-block{
    text-align: center;
}

button{
    text-align:center;
    background-color: yellow;
    font-size: 24px;
}
/* 
- how to align centered while left

- bold only the product name when hovering 

- the line in UI, make it thinker


- can i have the same class name under different tag?


4. can I use flex box?

*/
