body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.flex-column{
    display: flex;
    flex-direction: column;    
    flex-grow: 1;
    justify-content:space-around;
}

.flex-column > h1 {
    text-align: left;
    font-size: 36px;
    font-weight: 2;
    margin: 16px 0px 0px 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    text-align: center;
    font-size: 24px;
    margin-right: 64px
}

li a {
    text-decoration: none;
    margin: 48px;
}

li a:hover {
    text-decoration: underline;
}

li a:visited {
    color: black;
}

hr {
    border: 3px solid;
    margin: 0px;
}

/* highlight the current tab in the nav bar  */
.highlight-tab {
    font-weight: bold;
    background-color: yellow;
}

#logo {
    width: 400px;
    margin: 24px;
}

/* the division line that creats sections  */
#line {
    width: 1200px;
    height: 60px;
}


main {
    margin-top: 64px;
    /*so main content doesn't overlap with nav bar*/
}



/* --- in the gallery page --- */
main.center {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    padding-left: 5%;
    padding-right: 5%;
}

.product-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 48px;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.product-block a{
    text-align: left;
    text-decoration: none;
}

.product-block p{
    margin: 0px;
    color: black;
    width: 285px;
    overflow-wrap: break-word;
}


.bold-when-hover {
    text-decoration: underline;
}

.product-block:hover {
    background-color: yellow;
    cursor: pointer;
}

.product-block:hover .bold-when-hover {
    /*credit: https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
    font-weight: bold;
    /* to make only the product name bold */
}

img.gallery {
    width: 285px;
    height: 285px;
    border: 4px solid;
    border-color: black;
}


/* in the detail page */
.detail-page-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.detail {
    margin: 12px auto;
    width: 600px;
    height: 600px;
    border: 4px solid;
    border-color: black;
}

.detail-block{
    width: 30%;
}

.detail-description {
    text-align: left;
    margin-bottom: 96px;
}

.dropdown-block {
    margin-bottom: 44px;
}

.dropdown {
    margin-bottom: 96px;
}

select {
    margin-top: 8px;
    font-size: 24px;
    width: 100%;
    padding: 8px;

}


hr.sub-section {
    margin: 0px;
    width: 100%;
}

.price-button {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.price-button p {
    margin: auto 24px auto 32px;
    font-size: 18px;
    font-weight: bold;
}

button {
    text-align: center;
    background-color: yellow;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 12px;
    width: 100%;
    border: 4px solid;
}

button:hover {
    cursor: pointer;
}

/*in the shopping cart page */
main.cart {
    margin: 0px;
    margin-left: 35%;
}

.checkout-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: start;
}

img.checkout {
    width: 200px;
    height: 200px;
    border: 4px solid;
    border-color: black;
    flex-grow: 1;
}

/* the "remove" link in cart */
.checkout-img {
    margin-bottom: 12px;
}

p.clickable {
    text-decoration: underline;
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
}

p.checkout-description {
    margin: 4px;
}

p.checkout-price {
    margin-right: 40px;
    font-size: 120%;
    flex-grow: 1;
}

.checkout-description-block{
    margin: 12px;    
    text-align: left;
    width: 48%;
    /* flex-grow: 3; */
}


.price-flex {
    font-size: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0px 24px 208px;
}

#total{
    text-align:left;
    padding: 16px;
    width: 64%;
}

#total-price{
    margin-right: 40px;
    /* text-align:right; */
}

#cart-button{
    width: fit-content;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 40px;
}

.align-right{
    text-align: right;
}